doctype html

html
    head
        title Search Tailor Options
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/options.css")
        link(rel="icon" href="../assets/icons/icon.svg")

    body
        main(id="search-tailor-options-page")

            h1(class="options-title") Search Tailor Options

            section(class="options-panel")

                div(class="options-panel__header")
                    h2(class="options-panel__header__title") Functionality

                div(class="options-panel__body")
                    fieldset(class="option-group")
                        legend(class="option-group__legend")
                            h3(class="option-group__title") Enabled Search Engines
                            span(class="option-group__instructions") Select the search engine results pages that Search Tailor should affect.

                        mixin searchEngineToggle(searchEngine)
                            label(class="option option--search-engine-toggle")
                                span(class="option__label")= searchEngine.label
                                div(class="option__control")
                                    input(
                                        id=searchEngine.id
                                        class="option__input option__input--search-engine-toggle js-option-input"
                                        type="checkbox"
                                        name=searchEngine.label
                                        data-input-group="enableSearchEngine"
                                        checked
                                    )
                                    span(class="toggle-switch")
                                        span(class="toggle-switch__track")
                                        span(class="toggle-switch__nub")

                        each searchEngine in defaultUserData.searchEngines
                            +searchEngineToggle(searchEngine)

            section(class="options-panel")

                div(class="options-panel__header")
                    h2(class="options-panel__header__title") Display

                div(class="options-panel__body")
                    div(class="option option--color-hint-background" role="group")
                        div(class="option__label") Color hint background

                        div(class="option__control")
                            input(
                                class="option__input option__input--color-hint-background-swatch js-option-input"
                                type="color"
                                name="colorHintBackgroundSwatch"
                                value="#ffffff"
                            )

                            input(
                                class="option__input option__input--color-hint-background-hex js-option-input"
                                type="text"
                                name="colorHintBackgroundHex"
                                value="#ffffff"
                                pattern="#[a-fA-F0-9]{6}"
                                maxlength="7"
                                minlength="7"
                            )

            section(class="options-panel")

                div(class="options-panel__header")
                    h2(class="options-panel__header__title") Extension Data

                    div(class="options-panel__header__notice" aria-label="Be careful! Changes to this section cannot be undone." data-tippy)
                        svg(class="options-panel__header__notice__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                            path(d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z")

                div(class="options-panel__body")
                    fieldset(class="option-group")
                        legend(class="option-group__legend")
                            h3(class="option-group__title") Local Storage Data
                            span(class="option-group__instructions") View and export extension data that is stored in this browser.

                        div(class="option option--raw-json")
                            textarea(
                                class="option__input option__input--raw-json js-option-input"
                                name="localStorageData"
                                spellcheck="false"
                                readonly
                            )

                        div(class="option-group__action-container")
                            button(class="option-group__action" data-click-action="copyLocalData") Copy
                            a(class="option-group__action" data-click-action="exportLocalData" href="#" download="search_tailor_local.json") Export
                            button(class="option-group__action" data-click-action="resetLocalData") Reset to Default

                    fieldset(class="option-group")
                        legend(class="option-group__legend")
                            h3(class="option-group__title") Synchronized Storage Data
                            span(class="option-group__instructions") View and export extension data that is synchronized between browsers via <a href="https://www.mozilla.org/en-US/firefox/sync/" target="sync-account">Firefox Sync</a> or a <a href="https://support.google.com/chrome/answer/165139" target="sync-account">Google account</a>.

                        div(class="option option--raw-json")
                            textarea(
                                class="option__input option__input--raw-json js-option-input"
                                name="syncStorageData"
                                spellcheck="false"
                                readonly
                            )

                        div(class="option-group__action-container")
                            button(class="option-group__action" data-click-action="copySyncData") Copy
                            a(class="option-group__action" data-click-action="exportSyncData" href="#" download="search_tailor_sync.json") Export
                            button(class="option-group__action" data-click-action="resetSyncData") Reset to Default

                    form(class="option-group")
                        legend(class="option-group__legend")
                            h3(class="option-group__title") Synchronized Storage Data Import
                            span(class="option-group__instructions") Update extension data that is synchronized between browsers.

                        div(class="option option--raw-json" data-validation-message="")
                            textarea(
                                class="option__input option__input--raw-json js-option-input"
                                name="jsonImport"
                                spellcheck="false"
                            )

                        div(class="option-group__action-container")
                            button(type="button" class="option-group__action" data-click-action="clearJSON") Clear
                            button(type="button" class="option-group__action" data-click-action="importJSON") Import

        script(src="../scripts/options.js")