doctype html

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/options.css")

    body
        main(id="search-tailor-options-panel")

            div(class="search-tailor-option")
                span(class="search-tailor-option__label") Search Engines
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--enable-bing")
                    input#bing(
                        class="js-option-input"
                        type="checkbox"
                        name="Bing"
                        data-input-group="enableSearchEngine"
                    )
                    label(for="bing") Bing
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--enable-duckduckgo")
                    input#duckduckgo(
                        class="js-option-input"
                        type="checkbox"
                        name="DuckDuckGo"
                        data-input-group="enableSearchEngine"
                    )
                    label(for="duckduckgo") DuckDuckGo
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--enable-google")
                    input#google(
                        class="js-option-input"
                        type="checkbox"
                        name="Google"
                        data-input-group="enableSearchEngine"
                    )
                    label(for="google") Google
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--enable-yahoo")
                    input#yahoo(
                        class="js-option-input"
                        type="checkbox"
                        name="Yahoo!"
                        data-input-group="enableSearchEngine"
                    )
                    label(for="yahoo") Yahoo!

            div(class="search-tailor-option")
                span(class="search-tailor-option__label") JSON Export
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--raw-json")
                    textarea(
                        class="search-tailor-option__input search-tailor-option__input--raw-json js-option-input"
                        name="jsonExport"
                        spellcheck="false"
                        readonly
                    )
                div(class="search-tailor-option__action-container")
                    button(class="search-tailor-option__action" data-click-action="copyJSON") Copy

            form(class="search-tailor-option")
                span(class="search-tailor-option__label") JSON Import
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--raw-json" data-validation-message="")
                    textarea(
                        class="search-tailor-option__input search-tailor-option__input--raw-json js-option-input"
                        name="jsonImport"
                        spellcheck="false"
                    )
                div(class="search-tailor-option__action-container")
                    button(type="button" class="search-tailor-option__action" data-click-action="clearJSON") Clear
                    button(type="button" class="search-tailor-option__action" data-click-action="importJSON") Import
        
        script(src="../scripts/addonData.js")
        script(src="../scripts/options.js")