doctype html

html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../styles/options.css")

    template(id="tailoring-treatment")
        li(class="tailoring-treatment js-tailoring-treatment")

            div(class="tailoring-treatment__sort-handle js-sort-handle")
                svg(class="tailoring-treatment__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                    path(fill="none" d="M0 0h24v24H0V0z")
                    path(class="tailoring-treatment__icon__secondary" d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z")

            div(class="tailoring-treatment__input-container")
                input(class="tailoring-treatment__id-input js-treatment-id-input" type="text" hidden readonly)

                div(class="tailoring-treatment__input-group")
                    div(class="search-tailor-input__text-input-container tailoring-treatment__label-input-container")
                        input(class="search-tailor-input__text-input tailoring-treatment__label-input js-treatment-label-input" type="text" placeholder="treatment label")
                        div(class="search-tailor-input__text-input-effects")

                div(class="tailoring-treatment__input-group")
                    div(class="tailoring-treatment__full-color-inputs")
                        input(class="js-treatment-background-color-input" type="color" hidden)
                        button(class="tailoring-treatment__full-color-inputs__color" data-click-action="setBackgroundColor" title="Set Background Color")
                            svg(class="tailoring-treatment__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(class="tailoring-treatment__icon__primary" d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z")
                                path(class="tailoring-treatment__icon__secondary" d="M0 20h24v4H0z")
                        input(class="tailoring-treatment__full-color-inputs__opacity js-treatment-background-opacity-input" type="range" min="0" max="1" step=".01" value="1" title="Adjust Background Opacity")
                    div(class="tailoring-treatment__color-opacity-input-container")
                        input(class="js-treatment-border-color-input" type="color" hidden)
                        button(class="tailoring-treatment__full-color-inputs__color" data-click-action="setBorderColor" title="Set Border Color")
                            svg(class="tailoring-treatment__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                                path(d="M0 0h24v24H0z" fill="none")
                                path(class="tailoring-treatment__icon__primary" d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z")
                                path(class="tailoring-treatment__icon__secondary" d="M0 20h24v4H0z")
                        input(class="tailoring-treatment__full-color-inputs__opacity js-treatment-border-opacity-input" type="range" min="0" max="1" step=".01" value="1" title="Adjust Border Opacity")

            div(class="search-tailor-action-group")
                button(class="search-tailor-action-group__action" data-click-action="deleteTreatment" title="Delete Treatment")
                    svg(class="search-tailor-action-group__action__icon tailoring-treatment__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
                        path(class="tailoring-treatment__icon__primary" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z")


    body
        main(id="search-tailor-options-panel")

            div(class="search-tailor-option")
                span(class="search-tailor-option__label") Tailoring Treatments
                div(class="search-tailor-option__input-wrapper")
                    ul(class="tailoring-treatment-list")

                div(class="search-tailor-option__action-container")
                    input(class="js-treatment-preview-color-input" type="color" hidden)
                    button(class="search-tailor-option__action" data-click-action="setPreviewColor") Set Preview Color
                    button(class="search-tailor-option__action" data-click-action="addTreatment") Add New

            -
                var searchEngines = [
                    { name: "Bing", id: "bing" },
                    { name: "DuckDuckGo", id: "duckduckgo" },
                    { name: "Google", id: "google" },
                    { name: "Yahoo!", id: "yahoo" },
                ];

            div(class="search-tailor-option")
                span(class="search-tailor-option__label") Search Engines
                    mixin searchEngineToggle(searchEngine)
                        label(
                            class=[
                                `search-tailor-option__input-wrapper`,
                                `search-tailor-option__input-wrapper--toggle`,
                            ]
                        )
                            input(
                                id=searchEngine.id
                                class=[
                                    `search-tailor-option__input`,
                                    `search-tailor-option__input--toggle`,
                                    `js-option-input`,
                                ]
                                type="checkbox"
                                name=searchEngine.name
                                data-input-group="enableSearchEngine"
                            )
                            span(class="toggle-switch")
                                span(class="toggle-switch__track")
                                span(class="toggle-switch__nub")
                            span(class="search-tailor-option__input--toggle__label")= searchEngine.name

                    each searchEngine in searchEngines
                        +searchEngineToggle(searchEngine)

            div(class="search-tailor-option")
                span(class="search-tailor-option__label") JSON Export
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--raw-json")
                    textarea(
                        class="search-tailor-option__input search-tailor-option__input--raw-json js-option-input"
                        name="jsonExport"
                        spellcheck="false"
                        readonly
                    )
                div(class="search-tailor-option__action-container")
                    button(class="search-tailor-option__action" data-click-action="copyJSON") Copy

            form(class="search-tailor-option")
                span(class="search-tailor-option__label") JSON Import
                div(class="search-tailor-option__input-wrapper search-tailor-option__input-wrapper--raw-json" data-validation-message="")
                    textarea(
                        class="search-tailor-option__input search-tailor-option__input--raw-json js-option-input"
                        name="jsonImport"
                        spellcheck="false"
                    )
                div(class="search-tailor-option__action-container")
                    button(type="button" class="search-tailor-option__action" data-click-action="clearJSON") Clear
                    button(type="button" class="search-tailor-option__action" data-click-action="importJSON") Import

        script(src="../scripts/options.js")